<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<title>{{ title_page }}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
	{% block 'sidebar' %}
		<ul class="sidebar">
			<li class="tabl"><a class="sid" href="/home/">Home</a></li>
			<li class="tabl"><a class="sid" href="/about/">About</a></li>
			<li class="tabl"><a class="sid" href="/news/">News</a></li>
			<li class="tabl"><a class="sid" href="/store/">Store</a></li>
		</ul>
	{% endblock %}
</body>
</html>